<div class="lightness-control-panel">
    <div class="lightness-control-buttons one" (click)="chooseLightness(1)"
    [ngClass]="{'clicked': lightness == 1}">
        <span class="pi pi-circle-fill" style="font-size: 5px"></span>
    </div>

    <div class="lightness-control-buttons two" (click)="chooseLightness(2)"
    [ngClass]="{'clicked': lightness == 2}">
        <span class="pi pi-circle-fill" style="font-size: 5px"></span>
        <span class="pi pi-circle-fill" style="font-size: 5px"></span>
    </div>
    <div class="lightness-control-buttons three" (click)="chooseLightness(3)"
    [ngClass]="{'clicked': lightness == 3}">
        <span class="material-symbols-outlined" style="font-size: 20px">
            atr
        </span>
    </div>
</div>