<div class="lightness-control-panel">
    <div class="lightness-control-buttons one" (click)="chooseLightness(1)"
    [ngClass]="{'clicked': lightness == 1}">
        <span class="pi pi-circle-fill" style="font-size: 6px"></span>
    </div>
    <div class="lightness-control-buttons two" (click)="chooseLightness(1.5)"
    [ngClass]="{'clicked': lightness == 1.5}">
        <span class="pi pi-circle-fill" style="font-size: 2px"></span>
        <span class="pi pi-circle-fill" style="font-size: 2px"></span>
    </div>
    <div class="lightness-control-buttons three" (click)="chooseLightness(2)"
    [ngClass]="{'clicked': lightness == 2}">
        <span class="material-symbols-outlined">
            atr
        </span>
    </div>
</div>