.item-buttons {
  border: 3px solid #0976fa;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding: 25px;
    box-shadow:  0px 0px 10px 2px #0976fa;
  }
  .clicked {
    border: 3px solid #f90b0b;
    box-shadow:  0px 0px 10px 2px #f90b0b;
  }
  .item-buttons:hover{
      cursor: pointer;
  }
  
  .top {
    grid-row: 6/ span 1;
  }
  .bottom {
    grid-row: 8 / span 1;
  }
  
  .eight-buttons-panel {
    background-image: url('../../../assets/8_Touch_Gold_with_Black_Front_no_icon.png');
    background-size: 130%;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(14, 4fr);
    grid-template-rows: repeat(13, 2fr);
    place-items: center;
    height: 600px;
    width: 700px;
  }
  
  .one{
    grid-column: 4 / span 2;
  }
  .two{
    grid-column: 6 / span 1;
  }
  .three {
    grid-column: 9 / span 2;
  }
  .four {
    grid-column: 11 / span 1;
  }
  