<div class="eight-buttons-panel">
    <img id="image" src='../../../assets/8_Touch_Gold_with_Black_Front_no_icon.png'>
    <div class="item-buttons top one" (click)="testClick(0)" [ngClass]="{ clicked: clickedButtons[0] }"></div>
    <div class="item-buttons top two" (click)="testClick(1)" [ngClass]="{ clicked: clickedButtons[1] }"></div>
    <div class="item-buttons top three" (click)="testClick(2)" [ngClass]="{ clicked: clickedButtons[2] }"></div>
    <div class="item-buttons top four" (click)="testClick(3)" [ngClass]="{ clicked: clickedButtons[3] }"></div>
    <div class="item-buttons bottom one" (click)="testClick(4)" [ngClass]="{ clicked: clickedButtons[4] }"></div>
    <div class="item-buttons bottom two" (click)="testClick(5)" [ngClass]="{ clicked: clickedButtons[5] }"></div>
    <div class="item-buttons bottom three" (click)="testClick(6)" [ngClass]="{ clicked: clickedButtons[6] }"></div>
    <div class="item-buttons bottom four" (click)="testClick(7)" [ngClass]="{ clicked: clickedButtons[7] }"></div>
</div>
