.bottom-nav-bar {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
}
.left-board{
    width: 60%;
    text-align: center;
}
::ng-deep .p-toolbar{
    border: none;
    justify-content: center !important;
    background-color: #0e0e11;
}
::ng-deep .p-divider-vertical {
    z-index: 0;
}

.right-board {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
