.item-buttons {
    border: 3px solid #0976fa;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 50px;
    box-shadow:  0px 0px 10px 2px #0976fa;
  }
  .clicked {
    border: 3px solid #f90b0b;
    box-shadow:  0px 0px 10px 2px #f90b0b;
  }
  .item-buttons:hover{
      cursor: pointer;
  }
 
  .mid {
    grid-row: 3 / span 2;
  }
  
  .one-buttons-panel {
    background-image: url('../../../assets/1_Touch_Black_Black_Front_no_icon.png');
    background-size: 110%;
    background-position: center;
    margin: 5%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(6, 7fr);
    place-items: center;
    /* border: 1px solid black;
    border-radius: 15px; */
    height: 400px;
    width: 400px;
  }
  
  .one{
    grid-column: 2 / span 2;
  }

  